.reviewContainer{
    display: flex;
}

.reviewEmployeeImage{
    width: 55vw;
    height: 35vw;
    animation: slideIn 1s ease-out; 
}

.inputContainerOptions{
    display: flex;
}

.inputContainer{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: -webkit-fill-available;
    gap: 3vw;
    /* animation: slideDown 1s ease-out; */
    animation: slideDown 1s ease-out, slideLeft 1s ease-out;
    /* z-index: -1; */
}

@keyframes slideIn {
    from {
        transform: translateX(-100%); /* Start position, off-screen to the left */
        opacity: 10%;
    }
    to {
        transform: translateX(0); /* End position, on-screen */
        opacity: 100%;
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(100%); /* Start position, off-screen to the left */
        opacity: 10%;
    }
    to {
        transform: translateX(0); /* End position, on-screen */
        opacity: 100%;
    }
}

.selectedOptions{
    cursor: pointer;
    padding: 8px 10px;
}

textarea{
    width: 50%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;

}

.classPace input[type="radio"]{
    display: flex;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
}

.classPace h5{
    cursor: pointer;
}

.classPace{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5vw;
}
