.employeeContainer{
    height: 35vw;   
    display: flex;
    flex-direction: row;
}

.employeeImage{
    width: 55vw;
    height: 35vw;
    animation: 1s slideIn ease-out;
}

.TextContainer{
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    animation: 1.5s slideLeft ease-out;
}

.aboutMe{
    font-family: 'Poppins', sans-serif;
    z-index: 1;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutMeTextContainer{
    font-family: 'Poppins', sans-serif;
    width: inherit;
    background-color: rgba(0, 132, 127, 0.594);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw;
    padding: 1vw;
}

.nameContainer{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    /* animation: 1.5s slideUp ease-out; */
}

.nameContainer button{
    background-color: rgba(0, 132, 127, 0.594);
    color: white;
    padding: 8px 10px;
    border-radius: 3vw;
    border: none;
    margin-top: 3vw;
    cursor: pointer;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%); /* Start position, off-screen to the left */
        opacity: 10%;
    }
    to {
        transform: translateX(0); /* End position, on-screen */
        opacity: 100%;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(-100%); /* Start position, off-screen to the left */
        opacity: 10%;
    }
    to {
        transform: translateX(0); /* End position, on-screen */
        opacity: 100%;
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(100%); /* Start position, off-screen to the left */
        opacity: 10%;
    }
    to {
        transform: translateX(0); /* End position, on-screen */
        opacity: 100%;
    }
}
