.employeeContainer{
    height: 35vw;   
    display: flex;
    flex-direction: row;
}

.employeeImage{
    width: 55vw;
    height: 35vw;
}

.TextContainer{
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
}

.aboutMe{
    font-family: 'Poppins', sans-serif;
    z-index: 1;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutMeTextContainer{
    font-family: 'Poppins', sans-serif;
    width: inherit;
    background-color: rgba(0, 132, 127, 0.594);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 5vw; */
    margin: 1vw;
    padding: 1vw;
}

.nameContainer{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.nameContainer button{
    background-color: rgba(0, 132, 127, 0.594);
    color: white;
    padding: 8px 10px;
    border-radius: 3vw;
    border: none;
    margin-top: 3vw;
    cursor: pointer;
}